#color{
  background-color:orange;
}

#tiket{
  padding:40px;
}

#text{
  color:white;
}

h1{
  background-color:orange;
}

.padding{
  background-color:rgb(234,108,19);
}

#logo3{
  max-height:42px;
  margin-right:10px;
  margin-top:-3px;
  display:inline-block;
}

.color{
  color:rgb(234,108,19);
}

#warna2{
  background-color:rgb(245,245,130);
}

#text1{
  color:white;
}

#text2{
  color:white;
}

#text3{
  color:white;
}

#warna5{
  color:white;
}

#page{
  margin-top:10px;
}

#page2{
  margin-top:20px;
}

#page3{
  margin-top:10px;
}

#color1{
  margin-top:20px;
}

#page4{
  margin-top:20px;
}

#page5{
  margin-top:20px;
}

#page6{
  margin-top:20px;
}

#page7{
  margin-top:20px;
}

#page8{
  margin-top:20px;
}

#page9{
  margin-top:20px;
}

#page10{
  margin-top:20px;
}

