body{
    background-color: #00ff37;
    font-family: sans-serif;
    margin:0;
}
img{
    padding:10px;
    background-position: center;
}
title-style{
    text-align: center;
}
.rubahhuruf{
    color: rgb(255, 0, 0);
    margin-left: 25px;
}
h1,h2
{
    font: 2em "Open Sans", sans-serif;
    color: rgb(250, 3, 3);
}
p,p
{
    margin-left: 10px;
    color: rgb(8, 8, 8)

}
a
{
    margin-left: 5px;
    margin-bottom: 5px;
}

